html, body {
  position: relative;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

#color-bg {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
}

#mirror {
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
  opacity: 0;
}

#container {
  position : relative;
  width : 400px;
  margin : 0 auto;
}

#sketch {
  display: block;
}

#filter {
  display: none;
}

.hide {
  display : none;
}
.nohide {
  display : block;
}