#overlay {
  position: absolute;
  top: 0;
  left: 0;
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
}

#mirror {
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
}

#container {
  position : relative;
  width : 400px;
  margin : 0 auto;
}

#sketch {
  display: block;
}

#filter {
  display: none;
}

.hide {
  display : none;
}
.nohide {
  display : block;
}